body {
    margin: 0;
    font-family: sans-serif;
    padding: 1rem;
}

/* .chart {
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin-bottom: 2rem;
} */

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    padding: 1rem;
    background: #f9f9f9;
    color: #222;
    max-width: 100%;
}

#app {
    max-width: 900px;
    margin: auto;
}

input[type="file"],
button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    background: #3399ff;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background: #2277cc;
}

.plot-container {
    width: 100%;
    overflow-x: auto;
    touch-action: auto !important;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    input[type="file"],
    button {
        width: 100%;
        box-sizing: border-box;
    }
}

.disclaimer {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    font-size: 0.9rem;
    color: #444;
    border-radius: 8px;
    margin-top: 2rem;
    max-width: 900px;
}

#controls {
    margin: 1rem 0;
}

#controls>* {
    margin: 5px;
}

#rangeButtons button {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

#rangeButtons button:hover {
    background: #0056b3;
}